.elements {
  max-width: 880px;
  margin: 0 auto 67px;
}

.elements__card {
  position: relative;
}

.elements__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  justify-content: center;
}

.elements__card-photo {
  height: 282px;
  object-fit: cover;
  max-width: 282px;
  border-radius: 10px 10px 0 0;
  display: block;
  width: 100%;
}

.elements__caption {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 25px 20px;
  align-items: center;
}

.elements__like-button {
  color: #fff;
  background-image: url(../images/heart.svg);
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.elements__like-button:hover {
  opacity: 50%;
}

.elements__like-button_activated {
  /* Make the like button activated and dark */
  background-image: url(../images/like_activated.svg);
}

.elements__card-text {
  color: black;
  font-family: Inter, Arial, sans-serif /*Import Inter font */;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  text-overflow: ellipsis;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  max-width: 221px;
}

.elements__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-image: url(../images/trash.svg);
  z-index: 2;
  width: 18px;
  height: 19.3px;
}

.elements__delete-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 710px) {
  .elements {
    margin: 36px auto 48px;
  }
}
