.footer {
  max-width: 880px;
  margin: 0 auto;
}

.footer__text {
  font-family: Inter, Arial, sans-serif /*Import Inter font */;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 710px) {
  .footer__text {
    width: 282px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 16.94px;
  }
}
