.form__input {
  margin: 0 36px 29.74px;
  max-width: 358px;
  width: 100%;
  height: 27.26px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-right: none;
  border-left: none;
}

.form__input:last-of-type {
  margin-bottom: 0;
}

.form__input::placeholder {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #000;
}

@media screen and (max-width: 710px) {
  .form__input {
    max-width: 238px;
    margin: 0 22px 30px;
  }
}
