.profile {
  display: flex;
  max-width: 880px;
  justify-content: space-between;
  margin: 40px auto 51px;
  align-items: center;
}

.profile__info {
  display: flex;
}

.profile__picture {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.profile__text {
  margin: auto 0 auto 30px;
}

.profile__name-edit {
  display: flex;
  align-items: center;
}

.profile__name {
  margin: 0 0 7px;
  font-family: Inter, Arial, sans-serif /*Import Inter font */;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
}

.profile__subtext {
  font-family: Inter, Arial, sans-serif /*Import Inter font */;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  margin: 7px 0 0;
}

.profile__edit-button {
  background: url(../images/edit_button.svg) center no-repeat;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  margin-left: 9px;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__button {
  background: url(../images/plus_sign.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  /* border needs to be 2px but disappears when I add it - Done */
}

.profile__button:hover {
  opacity: 50%;
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
    margin-bottom: 36px;
  }

  .profile__info {
    flex-direction: column;
    align-items: center;
  }

  .profile__picture {
    margin-bottom: 30px;
  }

  .profile__text {
    margin: 0;
  }

  .profile__name {
    margin: 0 auto;
    line-height: 26.63px;
    height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 580px;
    font-size: 22px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
  }

  .profile__subtext {
    text-align: center;
    margin: 14px auto 36px;
    font-size: 14px;
    line-height: 16.94px;
  }

  .profile__button {
    max-width: 282px;
    width: 100%;
  }
}
