@import url(../vendor/normalize.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/page.css);
@import url(../blocks/elements.css);
@import url(../blocks/footer.css);
@import url(../blocks/fonts.css);

@media screen and (max-width: 480px) {
  .page {
    padding: 28px 0 36px;
  }

  .header__logo {
    margin-left: 27px;
  }

  .profile {
    flex-direction: column;
    height: 286px;
    margin-bottom: 36px;
  }

  .profile__info {
    flex-direction: column;
    align-items: center;
  }

  .profile__picture {
    margin-bottom: 30px;
  }

  .profile__text {
  }

  .profile__name {
    margin: 0 auto;
    font-size: 22px;
    line-height: 26.63px;
    height: 22px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
  }

  .profile__subtext {
    text-align: center;
    margin: 14px auto 36px;
    font-size: 14px;
    line-height: 16.94px;
    height: 14px;
  }

  .profile__button {
    max-width: 282px;
    width: 100%;
    height: 50px;
  }

  .footer__text {
    width: 282px;
    margin: 0 auto;
  }
}
